.MainLayoutHeader {
  width: 100%;
  height: 64px;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .MainLayoutHeader {
    padding: 0 1rem;
  }
}

.MainLayoutHeader .MainLayoutHeader-content {
  gap: 1rem;
}

.MainLayoutHeader .MainLayoutHeader-content > p {
  cursor: pointer;
}
