.myDevicePage {
  width: 100%;
  height: 100%;
  background-color: white;
}

.myDevicePage .notdefine-deivce {
  width: 100%;
  height: 50px;
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
  text-align: center;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .myDevicePage .centerBox {
    width: 80vw;
  }
}
