.kakaoPage {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}

.kakaoPage-content {
  position: relative;
  width: 30%;
  max-width: 1200px;
}

.kakaoPage-content > div {
  width: 100%;
  min-height: 240px;

  background-image: url("../../assets/kakao.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.kakaoPage-content > p {
  color: var(--main-color);
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  font-weight: 700;
  cursor: pointer;
  border-bottom: 2px solid var(--main-color);
  padding: 0 1rem 8px;
}

@media screen and (max-width: 768px) {
  .kakaoPage-content {
    width: 90%;
  }
}
