.deviceCp {
  width: 100%;
  height: 3.625rem;
  align-items: center;
  border: 1px solid var(--black-3);
  border-radius: 1rem;
  padding: 0 1.25rem;
}

.deviceCp .icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.deviceCp .trash {
  cursor: pointer;
  font-size: clamp(1rem, 2.5vw, 1.125rem);
  color: var(--black-3);
}

.deviceCp .toggleCP p {
  display: none;
}
