.buttonToggleCP {
  width: 100%;
  height: 3.875rem;
  cursor: pointer;
  border: 1px solid var(--black-3);
  box-shadow: inset 0px 0px 5px rgba(13, 13, 14, 0.15);
  border-radius: 1rem;
  padding: 0 1.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.buttonToggleCP.select {
  border: 1px solid var(--point-color-1);
  box-shadow: inset 0px 0px 5px #a1c4fffb;
}
