.mainPage {
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  background-image: url("../../assets/pc_main_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainPage > div {
  width: 65%;
  height: 25%;

  max-width: 1200px;

  background-image: url("../../assets/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.mainPage > p {
  color: var(--main-color);
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
  font-weight: 700;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--main-color);
  transition: all 0.2s;
}

.mainPage > p:hover {
  color: var(--point-color-1);
  border-bottom: 2px solid var(--point-color-1);
}

@media screen and (max-width: 768px) {
  .mainPage {
    background-image: url("../../assets/mobile_main_bg.png");
  }

  .mainPage > div {
    width: 85%;
    top: 35%;
  }
}
