.issuancePage {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
}

.issuancePage * {
  text-align: start;
}

@media screen and (max-width: 768px) {
  .issuancePage {
    flex-direction: column;
    gap: 4vh;
    padding: 4vh 0;
  }

  .issuancePage * {
    text-align: center;
  }
}

.issuancePage .pc-image {
  width: 50vh;
  height: 50vh;

  background-image: url("../../../assets/image/save.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.issuancePage .mobile-image {
  width: 55vw;
  height: 55vw;
  margin: 0 auto;

  background-image: url("../../../assets/image/save.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.issuancePage .buttonBox {
  margin-top: 5vh;
}

.issuancePage .pc-title-image {
  width: 100%;
  height: 25vh;
  background-image: url("../../../assets/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

.issuancePage .code {
  font-size: clamp(2rem, 8vw, 3rem);
  font-weight: 700;
  margin: 2vh 0;
  color: var(--point-color-1);
}

@media screen and (min-width: 769px) {
  .issuancePage .buttonBox {
    gap: 1rem;
  }

  .issuancePage .buttonBox > div {
    flex: 1;
  }

  .issuancePage .content {
    width: 30%;
  }
}
