.errorIosPage {
  width: 100%;
  height: 100vh;
  font-size: clamp(16px, 2.5vw, 24px);
  background-color: white;
}

@media screen and (max-width: 768px) {
  .errorIosPage {
    padding: 36px;
  }
}

.errorIosPage .errorIosPage-content {
  text-align: center;
}

.errorIosPage .errorIosPage-content > div {
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 2rem;

  background: url("../../../assets/image/200.svg") no-repeat center;
  background-size: contain;
}
