.footer {
  width: 100%;
  height: 64px;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(242, 242, 242, 0.94902);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: var(--main-color);
}

.footer > p:nth-child(2) {
  cursor: pointer;
}

.footer > p:nth-child(2) > span {
  padding-left: 24px;
}

.footer > p:nth-child(2) > span:hover {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 1rem;
    height: 40px;
  }

  .footer > p > span {
    padding-right: 1rem;
  }
}
