.noticeListLiMobileCP {
  display: flex;
  justify-items: space-between;
  min-height: 3.875rem;
  padding: 16px 0;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--black-2);
}

.noticeListLiMobileCP .noticeListLiMobileCP-title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.noticeListLiMobileCP > div:nth-child(2) {
  font-size: 0.875rem;
  gap: 6px;
  color: var(--black-4);
}

.noticeListLiMobileCP .noticeListLiMobileCP-alarm {
  color: var(--point-color-1);
}

.noticeListLiMobileCP .line {
  width: 1px;
  height: 16px;
  background-color: var(--black-2);
}
